<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="{{ path('tweet_suggest_form') }}">Fakist</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto">
			{% if app.user is null %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-user-o" aria-hidden="true"></i>
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<form method="post" action="{{ path('app_login') }}" class="mx-2">
							<label for="inputEmail">Courriel</label>
							<input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>
							<label for="inputPassword">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="form-control" required>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<button class="btn btn-secondary mt-3" type="submit">Se connecter</button>
						</form>
					</div>
				</li>
			{% else %}
				{% if app.session.get('access_token') is null %}
					<li class="nav-item">
					<a class="nav-link" href="{{ path('oauth_connect') }}">
						Connecter Twitter</a>
					</li>
				{% endif %}
			{% endif %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Présentation</a>
				<div class="dropdown-menu px-2" aria-labelledby="dropdownMenuButton" style="width: 40rem;max-width: 100vh;">
					<p><strong>Fakist</strong> est un petit projet codé dans le cadre d'un <a href="https://www.youtube.com/watch?v=fAOIgs-yxGQ&list=PLJi-xjg3DqYb0sFBzynSVfI9hTNLMhUtf">calendrier de l'avent</a> sur la chaine YouTube <a href="https://www.youtube.com/PointPlus">PointPlus</a></p>
					<p>L'objectif principal était de mener un projet en plusieurs vidéos tout au long du mois de décembre, pour explorer le développement d'un projet avec Symfony, un peu de Bootstrap et l'utilisation de l'API de Twitter.</p>
					<p>L'objectif secondaire est d'avoir un moyen de poster des tweets qui soient forcément des fake news. Il devrait permettre de savoir si Twitter a l'air de vérifier les informations de nos tweets pour potentiellement prévenir qu'un tweet fournit de fausses informations et peut-être même proposer des liens qui réfutent nos fake news !</p>
					<p>Soyons clairs. La technologie mise en place par Twitter pour vérifier les tweets à propos des élections présidentielles américaines en est sûrement à ses débuts. Il est très fort probable qu'elle n'agisse que pour les tweets américains, envoyés depuis les États-Unis, et qu'éventuellement elle ne s'applique qu'à une série de compte très précis.</p>
					<p>Les tweets sont tous modérés, selon mon bon vouloir. Je ne laisserai pas passer n'importe quoi !</p>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://www.youtube.com/PointPlus">
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
					Chaîne YouTube</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://www.youtube.com/watch?v=fAOIgs-yxGQ&list=PLJi-xjg3DqYb0sFBzynSVfI9hTNLMhUtf">
					<i class="fa fa-youtube-play" aria-hidden="true"></i>
					Playliste YouTube</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://twitter.com/PointPlusYt">
					<i class="fa fa-twitter" aria-hidden="true"></i>
					@PointPlusYT</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://twitter.com/PointPlusFakist">
					<i class="fa fa-twitter" aria-hidden="true"></i>
					@PointPlusFakist</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="https://github.com/PointPlusYt/Fakist">
					<i class="fa fa-twitter" aria-hidden="true"></i>
					Code Source</a>
			</li>
		</ul>
	</div>
</nav>
